@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<DismissableAlert @bind-Show="@ShowAlert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>Blazor is soo cool!</strong>
</DismissableAlert>

<Timer TimeInSeconds="5" Tick="@ToggleAlert"/>
<button @onclick="@ToggleAlert">Toggle</button>
@code{

    private bool showAlert;

    public bool ShowAlert
    {
        get { return showAlert; }
        set
        {
            if (value != showAlert)
            {
                showAlert = value;
                this.StateHasChanged();
            }
        }

    }


    public void ToggleAlert()
    {
        ShowAlert = !ShowAlert;
        Console.WriteLine("Toggled!");
    }
}